<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " (click)="navigationService. clientesPage()" >Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigationService.productosPage()">Productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="navigationService.proveedorPage()">Proveedores</a>
        </li>
         <!-- <li class="nav-item">
            <a class="nav-link" (click)="navigationService.sedesPage()" >Sedes</a>
        </li>  -->
        
    </ul>
</div>

