<div class="container">
    
<button type="button" class="btn btn-link" (click)="openModal()">Crear Nuevo</button>
<table class="table table-striped table-dark container">
    <thead>
        <td> Identificacion </td>
        <td> Nombre</td>
        <td> Salario</td>
        <td> Fecha</td>
        <td> Acciones</td>
    </thead> 
        <tbody>
            <tr *ngFor="let item of lst">
                <td>{{ item.ide }}</td>
                <td>{{ item.nom }}</td>
                <td>{{ item.sal | currency }}</td>
                <td>{{ item.fecha }}</td>
                <td>
                    <span (click)="openEditModal(item)"> Editar </span>
                    <span (click)="delete(item)"> Eliminar </span> 
                </td>
            </tr> 
        </tbody>
</table>
</div>
